* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #10101c;
  color: white;
}

/* CABEÇALHO */

.cabecalho {
  text-align: center;
  padding: 70px 20px;
  background: linear-gradient(135deg, #171735, #302060);
  border-bottom: 3px solid #8b5cf6;
}

.cabecalho h1 {
  font-size: 42px;
  margin-bottom: 15px;
  color: #ffffff;
}

.cabecalho p {
  font-size: 18px;
  color: #d8d3e8;
}

/* ÁREA PRINCIPAL */

main {
  width: 90%;
  max-width: 1150px;
  margin: 50px auto;
}

.cursos > h2,
.destaques > h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

/* CARDS */

.lista-cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card-curso {
  background: #191927;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #302f46;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.card-curso::before {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #8b5cf6, #ec4899);
  position: absolute;
  top: 0;
  left: 0;
}

.card-curso:hover {
  transform: translateY(-8px);
  border-color: #8b5cf6;
  box-shadow: 0 12px 30px rgba(139, 92, 246, 0.25);
}

.card-curso h2 {
  color: #c4b5fd;
  margin-bottom: 20px;
  font-size: 21px;
}

.card-curso p {
  margin: 10px 0;
  color: #d5d5df;
}

.card-curso strong {
  color: white;
}

/* DESTAQUES */

.destaques {
  margin-top: 70px;
}

.destaques > h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #c4b5fd;
}

.destaque {
  display: flex;
  align-items: center;
  gap: 20px;

  background: linear-gradient(135deg, #19172b, #25203d);

  padding: 25px;
  margin-bottom: 18px;

  border: 1px solid #36304f;
  border-radius: 15px;

  transition: 0.3s;
}

.destaque:hover {
  transform: translateY(-5px);
  border-color: #8b5cf6;
  box-shadow: 0 10px 25px rgba(139, 92, 246, 0.2);
}

.icone-destaque {
  min-width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #8b5cf6, #ec4899);

  border-radius: 12px;

  font-size: 25px;
}

.destaque h2 {
  color: #ffffff;
  margin-bottom: 8px;
}

.destaque p {
  color: #c9c6d5;
}


/* RODAPÉ */

.rodape {
  text-align: center;

  margin-top: 80px;
  padding: 45px 20px;

  background: linear-gradient(135deg, #0b0b13, #17142a);

  border-top: 2px solid #8b5cf6;
}

.rodape h2 {
  color: #c4b5fd;
  margin-bottom: 12px;
}

.rodape p {
  color: #aaa6b8;
}

.linha-rodape {
  width: 100px;
  height: 3px;

  margin: 22px auto;

  background: linear-gradient(90deg, #8b5cf6, #ec4899);

  border-radius: 10px;
}

.rodape .copyright {
  font-size: 14px;
  color: #777386;
}